nav {
    background: linear-gradient(to left, #10d164, #8ffbb5);
    color: darkslategray;
    padding: 25px;
    height: 100vh;
    text-align: center;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

nav h1 , nav h2 {
    margin: 10px 0;
}

nav h1 {
    font-size: 2em;
}
nav ul {
    list-style-type: none;
    margin: 50px 0; 
    padding: 0 65px;
    text-align: start;
}

nav ul li {
    margin: 20px 0;
    font-size: 1.2em;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: darkslategray;
    padding: 10px 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
}

nav ul li a:hover , nav ul li .active, .profile-title a:hover{
    background: #a4fac2;
    color: darkslategray;
    border-radius: 10px;
    transform: scale(1.1);
}


nav img {
    width: 240px;
    border-radius: 50%;
    transition: all 0.3s;
}

nav img:hover {
    transform: scale(1.1);
    
}

.profile-title a {
    text-decoration: none;
    color: darkslategray;
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.3s;
}

/* Hamburger button */
.hamburger {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1100;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    nav {
        padding: 10px;
        height: auto;
        width: 100%;
        border-radius: 0;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        width: 250px;
        background-color: #f0f0f0;
        height: 100vh;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000; /* อยู่ด้านบน */
    }

    .navbar.open {
        transform: translateX(0);
    }
    
    nav ul {
        padding: 0;
    }
    
    nav img {
        width: 150px;
    }
    
    nav h1 {
        font-size: 1.5em;
    }
    
    nav h2 {
        font-size: 1.2em;
    }
    
    nav ul li {
        font-size: 1em;
    }
    
}