#root {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 50px;
    color: darkslategray;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}