#root {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 50px;
    color: darkslategray;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

@media screen and (max-width: 768px) {
    #root {
        position: relative;
    }
    .info {
        padding: 10px 10px 20px 50px;
        position: relative;
        z-index: 1;
    }
    
}